[submodule "deps/libmpv"]
	path = deps/libmpv
	url = https://github.com/Ivshti/libmpv
[submodule "deps/singleapplication"]
	path = deps/singleapplication
	url = https://github.com/itay-grudev/SingleApplication
