
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
./*.dll
*.dylib

# Qt-es

.qmake.cache
.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
build-*/
stremio.app/*
/build/*
moc_*.h
/dist-win/
# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*


.DS_Store

debug/*
release/*

moc_predefs\.h

# binary on Linux
stremio
