name: Shell

on:
  push:
  pull_request:
  schedule:
    - cron: '15 21 * * *'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest]
      #  node: ['8']
    env:
      APP_IDENTITY: "C2E24BC6719F81C54FAD02B8B4E3535B330794B8"
      CERT_PASS: ${{ secrets.CERT_PASS }}
      DEST_DIR: ./stremio.app/Contents/MacOS
      TAG: master
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      # - uses: maxim-lobanov/setup-xcode@v1.1
      #   with:
      #     xcode-version: '11.5'

      - uses: actions/checkout@v2
  
      # - uses: actions/setup-node@v1
      #   with:
      #     node-version: ${{ matrix.node }}

      - name: Submodules
        run: git submodule update --init --recursive

      - name: Prepare environment
        run: |
          SHELL_VERSION=$(git grep -hoP '^\s*VERSION\s*=\s*\K.*$' HEAD -- stremio.pro)
          DMG_PATH="Stremio $SHELL_VERSION.dmg"
          node -e 'process.stdout.write("CURRENT_BRANCH="+process.env.GITHUB_REF.replace(/^refs\/(heads|tags)\//, "")+"\n")' >> $GITHUB_ENV
          echo SHELL_VERSION=$SHELL_VERSION >> $GITHUB_ENV
          echo DMG_PATH=$DMG_PATH >> $GITHUB_ENV
          if [ "$GITHUB_EVENT_NAME" = "pull_request" ]; then echo DEPLOY=false >> $GITHUB_ENV; else echo DEPLOY=true >> $GITHUB_ENV; fi

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: 5.9.5
          modules: qtwebengine qtwebglplugin

      - name: Dependencies
        run: |
          brew update-reset
          brew update
          npm -g install appdmg

      - name: Build
        run: |
          git clone https://github.com/iina/iina
          bash ./iina/other/download_libs.sh
          export MPV_BIN_PATH=$(pwd)/deps
          ( cd $MPV_BIN_PATH/lib && ln -s libmpv.1.dylib libmpv.dylib )
          export OPENSSL_BIN_PATH=$(brew --prefix openssl)
          qmake .
          make

      - name: Add binaries
        run: |
          cp ./mac/ffmpeg $DEST_DIR/
          cat ./mac/node > $DEST_DIR/node
          chmod +w $DEST_DIR/ffmpeg
          chmod +wx $DEST_DIR/node

      - name: Deploy
        run: |
          macdeployqt ./stremio.app -executable=./stremio.app/Contents/MacOS/ffmpeg  -executable=./stremio.app/Contents/MacOS/node

      - name: Server
        env:
          TAG: master 
        run: |
          curl https://s3-eu-west-1.amazonaws.com/stremio-artifacts/four/v$SHELL_VERSION/server.js > $DEST_DIR/server.js
          
      - name: Fix dependencies
        run: |
          cp ./deps/lib/* ./stremio.app/Contents/Frameworks

      - name: Testdrive
        run: ( $DEST_DIR/stremio & sleep 10 && STREMIO_PID=$! && kill $STREMIO_PID )

      - name: Rename the app
        run: mv ./stremio.app ./Stremio.app

      - name: Setup keychain
        run: if [ "$DEPLOY" = "true" ]; then source ./mac/keychain_profile; fi

      - name: Sign App
        run: |
          if [ "$DEPLOY" = "true" ]; then codesign --deep --force -v -s $APP_IDENTITY --entitlements ./mac/entitlements.plist --options runtime ./Stremio.app; fi

      - name: Notarizing
        env:
          NOTARIZATION_PWD: ${{ secrets.NOTARIZATION_PWD }}
        run: |
          if [ "$DEPLOY" = "true" ]; then ./mac/notarizer.sh Stremio.app "ivo@linvo.com" "$NOTARIZATION_PWD"; fi

      - name: Pack
        run: |
          ditto -c -k --rsrc --keepParent Stremio.app Stremio.app.zip
          sed -ie 's/"title": "Stremio.*"/"title": "Stremio '$SHELL_VERSION'"/' ./mac/appdmg.json
          appdmg ./mac/appdmg.json "$DMG_PATH"

      - name: Sign Dmg
        run: |
          if [ "$DEPLOY" = "true" ]; then codesign --deep --force -v -s $APP_IDENTITY "$DMG_PATH"; fi

      - name: Store DMG
        uses: actions/upload-artifact@v1
        with:
          name: StremioDMG
          path: "${{ env.DMG_PATH }}"

      - name: Upload to AWS
        shell: bash
        env:
          AWS_ACCESS_KEY_ID: AKIAJWBFLU34IVITPLHA
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
          AWS_DEFAULT_REGION: eu-west-1
        run: |
          pip3 install s3cmd
           if [ "$DEPLOY" = "true" ]; then s3cmd --acl-public --access_key=$AWS_ACCESS_KEY_ID --secret_key=$AWS_SECRET_ACCESS_KEY --force --region=$AWS_DEFAULT_REGION put "$DMG_PATH" s3://stremio-artifacts/shell-osx/$CURRENT_BRANCH/ ; fi

  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack channel
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_USERNAME: Github Action
          SLACK_ICON: https://s3-us-west-2.amazonaws.com/slack-files2/bot_icons/2020-10-19/1422366829703_48.png
          SLACK_TITLE: Github Builds - Shell
          SLACK_CHANNEL: '#installer-ci'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
